# Timer to launch an action every 5 minutes
every=300

# as any hour is after midnight, it will trigger also when Majordome is launched
runifover

#immediate
#disabled
